html,body{
	background-color:#222;
	width:100%;
	height:100%;
}
.content{
	width:100%;
	height:100%;
}

/*stage--start*/
.stage{
	position:relative;
	width:100%;
	height:600px;
}
/*stage--end*/
/*image--start*/
.img-sec{
	position:relative;
	width:100%;
	height:100%;
	overflow:hidden;
	background-color:#ddd;

	@at-root{
		.img-figure{
			position:absolute;
			width:320px;
			height:360px;
			margin:0;
			padding:40px;
			background-color:#fff;
			box-sizing:border-box;
			transform-style:preserve-3d;
			transition:left .6s ease-in-out,top .6s ease-in-out;
			&.is-inverse{
				transform:rotateY(180deg);
				img{
					visibility:hidden;
				}
			}
			cursor:pointer;
		}
		figcaption{
			text-align:center;
			.img-title{
				margin:20px 0 0 0;
				color:#a7a0a2;
				font-size:16px;
			}

			.img-back{
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				padding:50px 40px;
				overflow:auto;
				color:#a7a0a2;
				font-size:22px;
				line-height:1.25;
				text-align:left;
				background-color:#fff;
				box-sizing:border-box;
				transform:rotateY(180deg) translateZ(1px);
				p{
					margin:0;
				}
			}
		}
	}
}
/*image-end*/
/*controller--start*/
.controller-nav{
	position:absolute;
	left:0;
	bottom:30px;
	z-index:101;
	width:100%;
	text-align:center;
}
/*controller-end*/